.swipeButtons {
  position: fixed;
  display: flex;
  bottom: 10vh;
  width: 100%;
  justify-content: space-evenly;
}

@media only screen and (min-width: 1000px) {
    .swipeButtons .MuiIconButton-root {
        height: 12vh;
        bottom: -5vh;
      }
  }


.swipeButtons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.2) !important;
}

.swipeButtons__repeat {
  padding: 3vw !important;
  color: #f5b748 !important;
}

.swipeButtons__left {
  padding: 3vw !important;
  color: #ec5e6f !important;
}
.swipeButtons__star {
  padding: 3vw !important;
  color: #62b4f9 !important;
}
.swipeButtons__right {
  padding: 3vw !important;
  color: #76e2b3 !important;
}
.swipeButtons__flash {
  padding: 3vw !important;
  color: #915dd1 !important;
}
