.card {
  position: relative;
  width: 30vw;
  padding: 20px;
  max-width: 85vw;
  height: 30vw;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card >h3 {
    position: absolute;
    bottom: 10px;
    color: white;
}
@media only screen and (max-width: 1000px) {
    .card {
        width: 80vw;
        height: 80vw;
        margin-top: 5vh;
    }
}


.tinderCards__cardContainer {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}


.swipe {
    position: absolute;
}